ul
    li Hotdog: $20
    li Hamburger: $35
    li Soda: $4
    li Cookie: $6

form(method="POST" action='/purchase')
    label Choose item:
    select(name="item")
      option(value="Hotdog") Hotdog
      option(value="Hamburger") Hamburger
      option(value="Soda") Soda
      option(value="Cookie") Cookie

    br
    label Quantity:
    input(type="text", name="quantity")
    input(type="submit")